@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address style="text-align:center;">
    <ul class="list-inline intro-social-buttons">
        <li>
            <a href="https://github.com/Hann-B" class="btn"><img src="~/images/GitHubIcon.png"class="img-responsive" ></img></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/hanna-bernard-457547142/" class="btn"><img src="~/images/LinkedinIcon.png" class="img-responsive"></img></a>
        </li>
        @*<li>
            <a href="slack://file?team={TEAM_ID}&id={FILE_ID}" class="btn"><img src="~/images/SlackIcon.png" class="img-responsive"></img></a>
        </li>*@
        <li>
            <a href="mailto:HLBernard124@gmail.com" class="btn"><img src="~/images/GmailIcon.png" class="img-responsive"></img></a>
        </li>
    </ul>
</address>

<address>
    St. Petersburg, FL 33703<br />
    <abbr title="Phone">P:</abbr>
    813.239.4667
</address>
