<br />
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Field Work</h1>
    </div>

    <div>

        <div class="gallery">
            <div class="img-w"><img src="~/images/MOCNESS.jpg" alt="" /></div>
            <div class="img-w"><img src="~/images/CTD.jpg" alt="" /></div>
            <div class="img-w"><img src="~/images/FieldWork.jpg" alt="" /></div>
            <div class="img-w"><img src="~/images/DataCollection.jpg" alt="" /></div>
            <div class="img-w"><img src="~/images/ScientificDiving.jpg" alt="" /></div>
            <div class="img-w"><img src="~/images/FilmSurvey.JPG" alt="" /></div>
            <div class="img-w"><img src="~/images/Leopard.JPG" alt="" /></div>
            <div class="img-w"><img src="~/images/CaymanSurvey.JPG" alt="" /></div>
            <div class="img-w"><img src="~/images/FishSuvey.JPG" alt="" /></div>
            <div class="img-w"><img src="~/images/PinkDolphin.JPG" alt="" /></div>
            <div class="img-w"><img src="~/images/Macaws.JPG" alt="" /></div>
        </div>



        @*<div class="row">
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/MOCNESS.jpg" alt="NOAA SEAMAP Plankton Survey">
                    <div class="caption">
                        <h4>MOCNESS</h4>
                        <p>Multiple opening and closing net enviornment sensing system deployment. Aboard the NOAA ship Picses in the Gulf of Mexico.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/CTD.jpg" alt="NOAA SEAMAP Plankton Survey">
                    <div class="caption">
                        <h4>CTD</h4>
                        <p>Conductivity, temperature, and depth data collection device.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/FieldWork.jpg" alt="NOAA SEAMAP Plankton Survey">
                    <div class="caption">
                        <h4>Neuston Net</h4>
                        <p>The 2x1 m Neuston net performing a collection of organisms in the water column.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/DataCollection.jpg" alt="Tropical Biodiversity, Leeward Islands">
                    <div class="caption">
                        <h4>Dive!</h4>
                        <p>Performing data collection through observation of the reef in fixed transects.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/ScientificDiving.jpg" alt="Tropical Biodiversity, Leeward Islands">
                    <div class="caption">
                        <h4>Scientific Diving</h4>
                        <p>Recording observations in a fixed transect used as an indicator of biodiversity of the protected reef.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/FilmSurvey.JPG" alt="Pacaya Samiria National Reserve, Peru">
                    <div class="caption">
                        <h4>Habitat Survey</h4>
                        <p>Collecting film taken by a motion sensor video recorder. Set to assist in observing the rain forest at night.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/Leopard.JPG" alt="Pacaya Samiria National Reserve, Peru">
                    <div class="caption">
                        <h4>Caught on Camera!</h4>
                        <p>A beautiful candid of the rain forest nightlife.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/CaymanSurvey.JPG" alt="Pacaya Samiria National Reserve, Peru">
                    <div class="caption">
                        <h4>Caiman Survey</h4>
                        <p>A baby caiman seen in the spotlights. Data such as morphological measurements, sex and age were recorded.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/FishSuvey.JPG" alt="Pacaya Samiria National Reserve, Peru">
                    <div class="caption">
                        <h4>Fish Survey</h4>
                        <p>Collecting data to demonstrate the fish population and distribution in the Amazon river.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4" id="photoblock">
                <div class="thumbnail">
                    <img src="~/images/Macaws.JPG" alt="Pacaya Samiria National Reserve, Peru">
                    <div class="caption">
                        <h4>Macaw Survey</h4>
                        <p>Count the birds! Data collection based on set waypoints and timed observations.</p>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

