<div id="content-container" class=" layout-full">
    <div id="full-width" class="content">
        <div class="custom-page-content">
            <div class="section-boxed">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="vc_col-sm-12 wpb_column vc_column_container">
                        <div class="wpb_wrapper">

                            <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                    <div class="intro-header banner">
                                        <h1 style="text-align: center;"><strong>HANNA BERNARD</strong></h1>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="slack://file?team={TEAM_ID}&id={FILE_ID}"><i class="fa fa-slack"></i>@@hanna.bernard</a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/hanna-bernard-457547142/"><i class="fa fa-linkedin-square"></i>HBernard</a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/Hann-B"><i class="fa fa-github fa-fw"></i>Github</a>
                                            </li>
                                            <li>
                                                <a href="mailto:HLBernard124@gmail.com"><i class="fa fa-envelope-o"></i>HLBernard124@gmail.com</a>
                                            </li>
                                            <li>
                                                <a href="tel:813-239-4667"><i class="fa fa-phone-square"></i>(813) 239-4667</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Page Content -->
                            <a name="projects"></a>
                            <div class="content-section-a">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-6">
                                            <hr class="section-heading-spacer">
                                            <div class="clearfix"></div>
                                            <h2 class="section-heading">Movie Rental Shop Demo:</h2>
                                            <p class="lead">Scenario: Local movie rental shop is growing and would like to convert to a computer based system.</p>
                                        </div>
                                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                            <a href="https://github.com/Hann-B/MovieRental">
                                                <img class="img-responsive img-rounded" src="~/images/MovieRental.png" alt="Movie Rental Demo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.content-section-a -->
                            <div class="content-section-b">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                                            <hr class="section-heading-spacer">
                                            <div class="clearfix"></div>
                                            <h2 class="section-heading">Aquarium Database:</h2>
                                            <p class="lead">Scenario: Database was created to bring the aquariums of the world together. </p>
                                        </div>
                                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                                            <a href="https://github.com/Hann-B/Aquarium">
                                                <img class="img-responsive img-rounded" src="~/images/Aquarium.PNG" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.content-section-b -->
                            <div class="content-section-a">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-6">
                                            <hr class="section-heading-spacer">
                                            <div class="clearfix"></div>
                                            <h2 class="section-heading">Unit Testing:</h2>
                                            <p class="lead">Test if a string input is a pangram</p>
                                        </div>
                                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                            <a href="https://github.com/Hann-B/Testing">
                                                <img class="img-responsive img-rounded" src="~/images/Testing.PNG" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end main content holder (#content/#full-width) -->
    <div class="clear"></div>
</div> <!-- end #content-container -->
